@page "{id:int}"
@model ItRental.Web.Pages.RenterDetailsModel
@{
    ViewData["Title"] = "RenterDetails";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h2>Udlån til @Model.Renter.Name</h2>
<table>
    <tr>
        <th>Udstyr</th>
        <th>Antal</th>
        <th>Lånetidspunkt</th>
        <th>Returneringstidspunkt</th>
        <th>Afleveringsfrist overskredet</th>
    </tr>
    <tbody>
        @{
            foreach (Rental rentals in Model.Renter.Rentals)
            {
                <tr>
                    <td>@rentals.Equipment.Name</td>
                    <td>@rentals.Units</td>
                    <td>@rentals.RentalTime.ToString("dd-MM-yyyy")</td>
                    <td>@rentals.ReturnTime.ToString("dd-MM-yyyy")</td>
                    @if (rentals.IsRentalOverdue())
                    {<td class="red">Overkredet</td>}
                    else
                    {<td class="green">Ikke overskredet</td>}
                </tr>
            }
        }
    </tbody>
</table>

<h2>Lån udstyr</h2>
<div class="form">
    <form method="post">
        <h3>Lån udstyr</h3>
        <label asp-for="Rental.Equipment"></label>
        <select asp-for="Rental.Equipment.Id" asp-items="@(new SelectList(Model.Equipments, "Id", "Name"))"></select>
        <label asp-for="Rental.Units"></label>
        <input asp-for="Rental.Units" required/>
        <label asp-for="Rental.RentalTime"></label>
        <input asp-for="Rental.RentalTime" type="date" required/><br />
        <label asp-for="Rental.ReturnTime"></label>
        <input asp-for="Rental.ReturnTime" type="date" required/><br />
        <input type="submit" value="Lån" />
    </form>
</div>