@page
@model ItRental.Web.Pages.RentersModel
@{
    ViewData["Title"] = "Renters";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h2>Lånere</h2>
<div class="forms">
    <div class="form">
        <form method="post" asp-page-handler="Search">
            <h3>Søg efter lånere</h3>
            <label asp-for="NameSearch"></label>
            <input asp-for="NameSearch" placeholder="Skriv navn" value="@Model.NameSearch" />
            <input type="submit" value="Søg efter lånere" />
            @if (!string.IsNullOrWhiteSpace(Model.MessageSearch))
            {
                <p>@Model.MessageSearch</p>
            }
        </form>
    </div>

    <div class="form">
        <form method="post" asp-page-handler="Add">
            <h3>Opret låner</h3>
            <label asp-for="NewRenter.Name"></label>
            <input asp-for="NewRenter.Name" placeholder="Skriv navn her" />
            <label asp-for="NewRenter.RenterLevel"></label>
            <select asp-for="NewRenter.RenterLevel" asp-items="Html.GetEnumSelectList<RenterLevel>()"></select>
            <input type="submit" value="Opret låner" />
            @if (Model.MessageAdd != "")
            {
                <p>@Model.MessageAdd</p>
            }
        </form>
    </div>
</div>

<h2>Alle lånere</h2>

<table>
    <tr>
        <th>Navn</th>
        <th>Rettigheder</th>
        <th>Rediger</th>
    </tr>
    <tbody>
        @{
            foreach (Renter renter in Model.Renters)
            {
        <tr>
            <td><a href="/RenterDetails/@renter.Id">@renter.Name</a></td>
            <td>@renter.RenterLevel</td>
            <td>
                <a href=""><i class="fa fa-edit" aria-hidden="true"></i></a>&nbsp;&nbsp;
                <a href=""><i class="fa fa-trash" aria-hidden="true"></i></a>
            </td>
        </tr>
            }
        }
    </tbody>
</table>
<br />
<br />

<h2>Lånere som har udlån der er overskredet</h2>

<table>
    <tr>
        <th>Navn</th>
        <th>Rettigheder</th>
        <th>Rediger</th>
    </tr>
    <tbody>
        @{
            foreach (Rental rental in Model.Rentals)
            {
                if (rental.IsRentalOverdue())
                {

                    <tr>
                        <td><a href="/RenterDetails/@rental.Renter.Id">@rental.Renter.Name</a></td>
                        <td>@rental.Renter.RenterLevel</td>
                        <td>
                            <a href=""><i class="fa fa-edit" aria-hidden="true"></i></a>&nbsp;&nbsp;
                            <a href=""><i class="fa fa-trash" aria-hidden="true"></i></a>
                        </td>
                    </tr>
                }
            }
        }
    </tbody>
</table><br /><br />

